.my-header {
    background: url("../images/headbg.png") no-repeat;
    position: relative;
    margin-bottom: 0;
    background-size: 100% 100%;
}
.my-info {
    position: relative;
    padding: 20px 0 14px;
    width: 100%;
    bottom: 0;
    text-align: center;
    vertical-align: center;
}
.logo-box{

}
.my-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 0 6px rgba(255,255,255,.5);
}
.my-info p.nickname {
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
}
.aui-list-view-cell {
    line-height: 26px;
}
.amount-info {

    overflow: hidden;
}
.amount-info p {
   color: #333;
}
.amount-info p strong {
    font-size: 18px;
}
.aui-list-view-cell {
    line-height: 26px;
}
.amount-info .aui-col-xs-4 {
    background-color: #ffffff;
    position: relative;
    /*height: 80px;*/
}
.amount-info .aui-col-xs-4 a{
    padding: 15px 0 24px;
}
.amount-info .aui-col-xs-4:after {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(1);
    pointer-events: none;
}
.amount-info .aui-col-xs-4.no-border-rt:after {
    border-right:none;
    /*border-bottom: none;*/

}
.micon{
    display: block;
    width: 36px;
    height: 36px;
    margin: 10px auto;
}
.foot_cont{height: 60px;}
.foot-img {
    width: 5em;
    margin: -30px auto;
}
.title-box{
    height: 2.4em;
    padding: 0 4em;
    background: url("../images/pur_bg.png") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.m-titles{
    font-size: 1.1em;
    line-height: 2.4em;
}
.notice-box{
    height: 50px;
    padding: 0 20px;
    background: #fff;
    overflow: hidden;
}
.notice-box li{
    line-height: 50px;
}
.notice-box li a{
}
.n_icon{
    display: inline-block;
    width: 24px;
    height: 20px;
    background: url("../images/volume.png") no-repeat;
    background-size: 100%;
    margin: 14px 6px 14px 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .amount-info .aui-col-xs-4:after {
        right: -100%;
        bottom: -100%;
        -webkit-transform: scale(0.5);
    }
}

@media screen and (max-width: 375px){
    .m-titles,.notice-box li a{
        font-size: 0.9em;
    }
}
@media screen and (max-width: 320px){
    .amount-info .aui-col-xs-4 a {
        padding: 10px 0 18px;
    }
    .micon{
        width: 32px;
        height: 32px;
    }
    .center_main{
        padding-bottom: 80px;
    }
}