*{
    margin: 0 ;
    padding: 0;
}
body{
    font-size: 0.8rem;
    font-family: "微软雅黑";
    background: #eee;
}
.activate_bd{
    background: #fff;
}
a{text-decoration: none;color: #333;}
.head_cont{
    background: #63b359;
    overflow: hidden;
    padding: 10% 3%;
}
.logo_img{width: 45px;height: 45px;border-radius: 50%;overflow: hidden;margin: 0 4%;float: left;}
.vip_name{
    padding: 4% 0 0;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
}
.card_details{
    float: left;
    /*width: 50%;*/
    text-align: center;
}
.details_box{
    background: #fff;
    padding: 14% 0 20%;
    border-bottom:1px solid #d9d9d9 ;
}
.details_box.cent{
    padding: 7% 0 5%;
    border-bottom: none;
}
.weui_cells.weui_cells_access.cn_main{
    margin-bottom: 6%;
}
.c_shop_infos{
    width: 70%;
    float: left;
    font-size: 16px;
    border-right:1px solid #d9d9d9 ;
}
.c_shop_infos span{color: #999;}
.telephone_box{
    width: 29%;
    float: right;
}
img.tel_img{
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
}
.out_box{
    padding: 3% 6% 10%;
    /*border-bottom: 1px solid #d9d9d9;*/
}
.weui_cell.cen_cells{
    padding: 14px 15px;
}
.pay_box{
    padding:24% 0 0;
}
.pay_box .weui_btn{
    width: 50%;
}
p.credits_txt{
    font-size: 16px;
    color: #999;
}
p.look_dets{
    color: #44b549;
    font-size: 20px;
}
p.c_pay_intros{
    color: #999;
    padding: 3% 0 6%;
    text-align: center;
    font-size: 14px;
}
.center_code_box{
    float: right;
    margin: -14% 5% 0;
}
.center_code_box img{
    width: 45px;
    height: 45px;
}
.card_details.one{
    /*width: 32%;*/
    width: 48%;
    border-right:1px solid #d9d9d9;
}
.card_details.one.last{border: none;}
.tb_card{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.code_box{
    background: #fff;
    float: left;
    width: 50%;
    padding: 10% 0;
    text-align: center;
}
.card_no{
    position: absolute;
    top: 28%;
    left: 10%;
    font-size: 16px;
    color: #fff;
}
.code_box.two img{
    height: 31px;
    width: 32px;
    margin: 0 auto;
    overflow: hidden;
}
.code_box .use_card{color: #999;font-size: 0.8rem;}
.vip_infos{
    margin: 44% 0 0;
    background: #fff;
    padding: 4% 8% 2%;
}
.vip_infos .infos_outer{
    display: block;
    padding: 5% 0;
    border-bottom: 1px solid #ccc;
}
.vip_infos a{
    color: #333;
    text-decoration: none;
}
.infos_outer.last{
    border-bottom: none;
}
.r_arrow{
    float: right;
    width: 22px;
    height: 22px;
    overflow: hidden;
    margin-left: 20%;
    background:url("../images/right_arr.png") no-repeat ;
}
.tong_btn{
    display: block;
    background: #85b3ff;
    color: #fff;
    text-align: center;
    padding: 5% 0;
    text-decoration: none;
}
.icon_box.center_icon{
    top:28%;
}


/*会员卡详情*/
li{list-style: none;}
.conts{
    padding: 5% 4%;
}
.infos_conts{
    background: #fff;
    padding: 6% 4%;
}
.infos_conts li{
    line-height: 30px;
    font-size: 17px;
    font-weight: 400;
}
.spec_info{
    font-weight: 400;
    font-size: 15px;
    padding:0 0 4%;
}
.spec_info.use_infos{
    padding:5% 0 4%;
}
.use_info{
    padding: 5% 0;
}
.use_info.s_phone{
    background: #fff;
    padding: 5% 3%;
    margin: 6% 0;
}
.detail_bd{background: #fff;}
.detail_tle{
     padding: 0 0 3%;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 3%;
}
.infos_left{
    font-weight: 400;
    color: #888;
    font-size: 16px;
    float: left;
    width: 30%;
}
.infos_conts.rt{
    float: right;
    width: 62%;
    padding: 0 4%;
}
.inner_details_box{clear: both;padding-top: 4%;}
.de_phoneno{
    color: #44b549;
}
span.inner_lable{
    padding: 1% 2%;
    display: inline-block;
    background: #f7f7f7;
    color: #333;
    margin: 2% 2% 0 0;
}
img.d_shop_img{
    display: block;
    width: 100%;
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
}
.pic_text_box{
    clear: both;
    margin-top: 50%;
}
p.de_inner_intros{
    background: #f7f7f7;
    padding: 4% 3%;
}

.get_card_cont.center_hd{
    margin: 8% auto 0;
    height: 140px;
}
.center_bd{
    background: #fff;
}


/*会员资料*/
.vip_name.infor{
    font-weight: normal;
}
.head_cont.infor{
    background:#ddd3c2;
}
.infos_form{
    padding: 4% 0 3%;
    background: #fff;
    margin: 5% 0;
}
.infos_put{
    width: 100%;
    padding: 3% 0;
    color: #999;
}
.save_btn,.change_btn{
    display: block;
    width: 90%;
    margin: 2% auto 4%;
    text-align: center;
    padding: 4% 0;
    text-decoration: none;
    border-radius: 6px;
    color: #fff;
    background: #9bc0ff;
}
span.red_star{color: #ff0103;}
.must_write{
    padding: 3% 0;
}
.vip_perons{
    margin: 3% 0;
    color: #999;
}
.weui_btn.get_code_btn{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
}
.weui_btn_area.smit{
    margin: 4.176471em 15px .3em;
}
.weui_cells.weui_cells_form{
        margin-top: 0.176471em;
}

/*会员卡余额*/
.assets_cont{
    background: #71a1ed;
    overflow: hidden;
    padding: 6% 3%;
    color: #fff;
    font-size: 1rem;
}
.totals{padding-bottom: 6%;}
.moneys{font-weight: bold;font-size: 1.2rem;}
.cost_details{
    padding:3% 4%;
}
.m_details{color: #999;}
span.arrow_dw{
    float: right;
    width: 30px;
    height: 30px;
    background: url("../images/arrow_down.png") no-repeat;
}
.details_cont{
    clear: both;
    display: none;
    padding: 5% 0;
    border-bottom: 1px dotted #fff;
}
.accounts{float: right;}
.arrow_dw.up{
    background: url("../images/arrow_up.png") no-repeat;
}
/*@media screen and (max-width: 320px){*/
    /*.code_box.one{*/
        /*padding: 13% 0;*/
    /*}*/
/*}*/
/*@media screen and (min-width: 600px){*/
    /*.code_box.one{*/
        /*padding: 13% 0 9%;*/
    /*}*/
/*}*/

/*立即领取页面*/
.get_bd{
    background: #fff;
}
.get_card_box{
    padding: 28% 0;
    background: #fff;
}
.get_card_btn{
    display: block;
    padding: 3% 0;
    margin: 0 auto;
    background: #63b359;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    width: 45%;
    letter-spacing: 2px;
}
.page_title{
    font-size: 20px;
    color: #000;
    letter-spacing: 2px;
}
.get_card_cont{
    width: 90%;
    height: 28%;
    background: #63b359;
    overflow: hidden;
    padding: 5% 0;
    border-radius: 8px;
    margin: 0 auto;
}
p.card_tle{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
}
p.sec_tle{color: #fff;}
.weui_icon_circle:before { content: "\EA01" } /* 'î €' */
.weui_icon_download:before { content: "\EA02" } /* 'î €' */
.weui_icon_info:before { content: "\EA03" } /* 'î €' */
.weui_icon_safe_success:before { content: "\EA04" } /* 'î €' */
.weui_icon_safe_warn:before { content: "\EA05" } /* 'î €' */
.weui_icon_success:before { content: "\EA06" } /* 'î €' */
.weui_icon_success_circle:before { content: "\EA07" } /* 'î €' */
.weui_icon_success_no_circle:before { content: "\EA08" } /* 'î €' */
.weui_icon_waiting:before { content: "\EA09" } /* 'î €' */
.weui_icon_waiting_circle:before { content: "\EA0A" } /* 'î €' */
.weui_icon_warn:before { content: "\EA0B" } /* 'î €' */
.weui_icon_info_circle:before { content: "\EA0C" } /* 'î €' */
.weui_icon_cancel:before { content: "\EA0D" } /* 'î €' */
.weui_icon_search:before { content: "\EA0E" } /* 'î €' */
.weui_icon_clear:before { content: "\EA0F" } /* 'î €' */

.weui_icon_info_circle:before{
    font-size: 23px;
    color: #fff;
}
.icon_box{
    position: absolute;
    left: 82%;
    top: 42%;
}
.get_btn{
    width: 50%;
}

/*关注公众号页*/
.concern_head{
    padding: 28% 0;
    text-align: center;
    background: #fff;
}
.code_img{
    width: 150px;
    height: 150px;
    display: block;
    margin: 5% auto 8%;
}

.info_logo.logo_img{float: none;}
.info_bd{
    background: #fff;
}

.phone_container{
    padding: 2% 0;
    border: 1px solid #ccc;
}
.get_codes{
    display: inline-block;
    float: right;
    border: none;
    width: 33%;
    background:#85b3ff;border-radius: 4px;padding: 0 2%;
    height: 36px;
    color: #fff;
}
.infos_put.code_puts{
    width: 60%;
}
.disd{background: #fff;color: #333;border: 1px solid #ccc;}
/*错误提示样式*/
.errputs{
    border: 1px solid red;
}
input{-webkit-appearance:none;}