.sign-body{
    width: 100%;
   overflow: hidden;
    position: relative;
    background: url("../images/sign_in/sign_bg.png") no-repeat; /* 没有签到背景图*/
    background-size: 100% 100%;
}
.pull-left{
    float: left;
}
.red-font{
    color: #ff3600;
}
.pull-right{
    float: right;
}
.sign-hd{
    padding: 4%;
    height: 5em;
}
.s-logo{
    width: 4em;
    margin: 0 4%;
}
.sign-font{
    font-size: 0.8rem;
}
.stone-cont{display: block;border: none;background: transparent; text-decoration: none;-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.s-stone{
    width: 5em;
}
.talk-cont{
    width: 9em;
    height: 8em;
    background: url("../images/sign_in/no_sign.png") no-repeat;    /*没有签到时*/
    background-size: 100%;
    margin: -10% 2em 0 0;
}
.clear{clear: both;}
.bird-img{
    border: none;
    width: 7em;
    position: absolute;
    right: 0;
    top: 37%;
}
.had-sign-info{
    position: fixed;
    width: 50%;
    height: 4em;
    left: 25%;
    top:25%;
    background: #fff;
    border-radius:4px;
}
.alert-info{
    text-align: center;
    line-height: 4em;
}
.s-mask,.loading_cont{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background: #000;
    opacity: .5;
}
.loading_cont{
    background: #fff;
    opacity: 1;
    z-index: 99;
}
.hide{
    display: none;
}
.loading{
    position: fixed;
    top:20%;
    width:50px;
    height: 50px;
    left: 40%;
    display: none;
}
.talk-cont{
    width: 7em;
    height: 6em;
    margin: -10% 2em 0 0;
}


/*!*适应6屏幕*!*/
@media screen and (min-width: 375px){
    .bird-img{
        width: 8.5em;
    }
    .talk-cont{
        width: 10em;
        height: 9em;
    }
}