html,body{
    margin:0;
    padding:0;
}
#main {width:100%;height:100%;overflow:hidden;position:absolute;top:0;left:0;}
#main>section {width:100%;height:100%;overflow:hidden;position:absolute;top:0;left:0;display:none;}
#main>section>article {width:100%;height:100%;position:absolute;}
#main>section:first-child {top:0;left:0;z-index:11;display:block;}
#container{position:absolute; left:0; top:0; width:100%; z-index:1; background:#000;
    text-align:center; }
.video_full_common {position:absolute;left:0;top:0;width:100%;height:100%;z-index:11;}
.video_full_common video {width:6.4rem;height:11.37rem;position:absolute;bottom:0;left:0;}
.video_full_common #video_0 {top:0;bottom:auto;}
.video_full_common #video_2 {top:0;bottom:auto;}
.video_full_common #video_3 {top:0;bottom:auto;}
.video_full_common:after {content:"";width:100%;height:100%;position:absolute;left:0;top:0;display:block;background:transparent;}

.video_small_common {position:absolute;right:0.05rem;top:0.05rem;width:1.19rem;height:2.13rem;display:none;z-index:11;}
.video_small_common video {width:100%;height:100%;position:absolute;bottom:0;left:0;}
.video_small_common:after {content:"";width:100%;height:100%;position:absolute;left:0;top:0;display:block;background:transparent;}
.music{
    position: absolute;
    top: 6%;
    left: 6%;
    width: 8%;
    z-index: 99;
}
.music img{
    display:block;
    width:100%;
}
.cover {width:100%;height:100%;position:absolute;left:0;top:0;background:rgba(0,0,0,0.8);display:none; z-index:99;}
.cover .pop{
    position:absolute;
    width:100%;
    left:0;
    top:20%;
    display:none;
}
@font-face {
    font-family: 'zzgf';
    src: url('../font/zzgf.eot');
    src:
            url('../font/zzgf.eot?#font-spider') format('embedded-opentype'),
            url('../font/zzgf.woff') format('woff'),
            url('../font/zzgf.ttf') format('truetype'),
            url('../font/zzgf.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zzgftx';
    src: url('../font/zzgftx.eot');
    src:
            url('../font/zzgftx.eot?#font-spider') format('embedded-opentype'),
            url('../font/zzgftx.woff') format('woff'),
            url('../font/zzgftx.ttf') format('truetype'),
            url('../font/zzgftx.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.video {
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 999;
}
.page_0 {background:#000 bottom no-repeat;background-size:100%;color:#fff;}
.page_0 .box {width:100%;height:2.3rem;top:60%;margin-top:-1.15rem;position:absolute;}
.page_0 .heart {width:1.31rem;height:0.97rem;margin:0 auto;position:relative; display:none}
.page_0 .heart img {position:absolute;left:0;top:0;width:100%;height:100%;}
.page_0 .text {font-size:0.26rem;line-height:0.34rem;width:3.5rem;margin:0.38rem auto 0.2rem auto;font-family:"zzgf";}
.page_0 .text:after {background:url("../img/page_0/face.png") no-repeat;background-size:100% 100%;width:1.14rem;height:0.34rem;content:"";display:block;float:right;}
.page_0 .percent {text-align:center;font-size:2rem;line-height:2rem;font-family:"zzgftx";}
.page_0 .btn_find {background:url("../img/page_0/btn_find.jpg") bottom no-repeat;background-size:100%;width:6.4rem;height:11.38rem;position:absolute;left:0;bottom:0;display:none;}
.page_0 .btn_find .line {background:none bottom no-repeat;background-size:100%;position:absolute;left:0;top:0;width:100%;height:100%;-webkit-animation:opacity 2s linear infinite alternate;}
.page_0 .enter {background-size:100% 100%;width:1.27rem;height:1.27rem;margin:11px auto;display:none;}
#pano{
    position:absolute;
    z-index:2;
    width:100%;
    height:100%;
}
.cover{
    position:absolute;
    z-index:99;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:#000;
    opacity:0.8;
}
.hb-pop{
    position:absolute;
    width:40%;
    top:25%;
    left:30%;
    z-index:100;
}
.hb-pop span{
    position:absolute;
    width:100%;
    left:0;
    top:0;
    display:none;
}
.hb-pop span img{
    display:block;
    width:100%;
}
.hb-pop span:nth-child(1){
    display:inline;
}
#pano{
    position:absolute;
    z-index:2;
    left:0;
    top:0;
}
.pop1-btn-list{
    position:absolute;
    width:100%;
    left:0;
    top:0;
    height:100%;
    z-index:2;
}
.pop1-btn-list .popp1{
    position:absolute;
    width:30%;
    top:58%;
    left:35%;
}
.pop1-btn-list .p1-btn1{
    top:58%;
}
.pop1-btn-list .p1-btn2{
    top:68%;
}
.pop1-btn-list .p1-btn3{
    top:78%;
}

.popp1 img{
    display:block;
    width:100%;
}
.video_full_common {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}
.video_full_common #video_0 ,.video_full_common #video_1,.video_full_common #video_2,.video_full_common #video_3{
    bottom: auto;
    width:100%;
    left:0;
    top:0;
    height:100%;
}
.skip{
    position:absolute;
    top:7%;
    right:5%;
    width:40px;
    text-align:center;
    z-index:9;
    color:#fff;
    font-family:"微软雅黑";
    font-size:0.8rem;
    text-decoration:underline;
}
.endpic,.result{
    position:absolute;
    left:0;
    top:0;
    z-index:9;
    width:100%;
    height:100%;
    background:#21232f;
}
.result{
    z-index:99;
}
.endpic img,.result img{
    width:100%;
    display:block;

}
.endpic span{
    position:absolute;
    left:0;
    top:0;
    z-index:9;
    width:100%;
    display:none;
}
.endpic span:nth-child(1){
    display:inline;
}
.again{
    position: absolute;
    width: 64%;
    top: 84%;
    left: 18%;
    height: 4rem;
    z-index: 9;
}
.begin,.tips{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    z-index:99;
}
.begin img,.tips img{
    display:block;
    width:100%;
}
.tips span{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    display:none;
}
.tips span:nth-child(1){
    display:inline;
}
.start{
    position: absolute;
    width: 19.6875%;
    left: 40.3125%;
    top: 81.051%;
    height: 6rem;

}
.begin{
    position:absolute;
    width:100%;
    left:0;
    z-index:9;
    top:0;
    height:100%;
    background:#21232f;
}
.begin span{
    position:absolute;
    left:0;
    top:5%;
    width:100%;
    display:none;
}
.begin span:nth-child(1){
    display:inline;
}
.hbs{
    position:absolute;
    width:19.218%;
    right:1.718%;
    z-index:9;
    top:4%;
}
.hbs span{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    display:none;
}
.hbs span:nth-child(1){
    display:inline;
}
.hbs img{
    display:block;
    width:100%;
}
.hb{
    position:absolute;
    width:6.718%;
    right:8.4375%;
    z-index:9;
}
.hb img{
    display:block;
    width:100%;
}
.hb1{
    top:20%;
}
.hb1 span{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    display:none;
}
.hb1 span:nth-child(1){
    display:inline;
}
.hb2 span{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    display:none;
}
.hb2 span:nth-child(1){
    display:inline;
}
.hb3 span{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    display:none;
}
.hb3 span:nth-child(1){
    display:inline;
}
.hb4 span{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    display:none;
}
.hb4 span:nth-child(1){
    display:inline;
}
.star{
    position:absolute;
    width:10%;
}
.star{
    position:absolute;
    width:10%;
}
.star1{
    left: 20%;
    top: 12%;
}
.star2{
    top: 37%;
    left: 89%;
}
.star3{
    top: 73%;
    left: 40%;
}
.star4{
    top: 80%;
    left: 74%;
}
.star5{
    top: 40%;
    left: 6%;
}
.star6{
    top: 70%;
    left: 4%;
}
.star7{
    left: 20%;
    top: 12%;
}
.star8{
    top: 37%;
    left: 89%;
}
.star9{
    top: 73%;
    left: 40%;
}
.star10{
    top: 80%;
    left: 74%;
}
.star11{
    top: 40%;
    left: 6%;
}
.star12{
    top: 70%;
    left: 4%;
}
.star span{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    display:none;
}
.star span:nth-child(1){
    display:inline;
}
.hb2{
    top:30%;
}
.hb3{
    top:40%;
}
.hb4{
    top:50%;
}
.logo-1{
    position:absolute;
    width:20.0625%;
    left:7.5%;
    top:2.11%;
    z-index:9;
}
.logo-1 img{
    display:block;
    width:100%;
}
.logo-2{
    position:absolute;
    width:15.46%;
    right:6.56%;
    top:2.11%;
    z-index:9;
}
.logo-2 img{
    display:block;
    width:100%;
}
#video{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    z-index:9;
}
.endpic{
    position:absolute;
    width:100%;
    left:0;
    top:0;
    z-index:10;
}
.get{
    position:absolute;
    width:63.43%;
    left:18.43%;
    top:68.17%;
}
.cover{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:9;
    opacity:0.8;
    background:#000;
}
.logo-1{
    position:absolute;
    width:30.46%;
    left:0;
    top:0;
    z-index:9;
}
.logo-1 img{
    display:block;
    width:100%;
}
.logo-2{
    position:absolute;
    width:37.5%;
    left:34.21%;
    top:0%;
    z-index:9;
}
.logo-2 img{
    display:block;
    width:100%;
}
.logo-3{
    position:absolute;
    width:26.4%;
    right:0;
    top:0;
    z-index:9;
}
.logo-3 img{
    display:block;
    width:100%;
}
.code{
    position: absolute;
    z-index: 9;
    width: 40%;
    color: #fd5352;
    font-size: 0.8rem;
    text-align: center;
    font-family: "微软雅黑";
    top: 33%;
    left: 29%;
}
.tp2{
    position:absolute;
    width:65.78%;
    left:17.1%;
    top:60%;
    z-index:9;
}
.tp2 img{
    display:block;
    width:100%;
}
.tp3{
    position:absolute;
    width:65.78%;
    left:17.1%;
    top:60%;
    z-index:9;
}
.tp3 img{
    display:block;
    width:100%;
}
.bp{
    position:absolute;
    width:14%;
    top:70%;
    left:43%;
    z-index:100;
    height:40%;
}
.bp span{
    position:absolute;
    width:100%;
    left:0;
    top:0;
    display:none;
}
.bp span img{
    display:block;
    width:100%;
}
.bp span:nth-child(1){
    display:inline;
}
.load-pic{
    position:absolute;
    width:30%;
    top:18%;
    left:35%;
    z-index:5;
}
.load-pic span{
    position:absolute;
    width:100%;
    left:0;
    top:0;
    display:none;
}
.load-pic span img{
    display:block;
    width:100%;
}
.load-pic span:nth-child(1){
    display:inline;
}
.no{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#222430;
    z-index:99;
}
.no img{
    width:100%;
    display:block;
}
.play-again{
    position: absolute;
    width: 64%;
    top: 85%;
    left: 18%;
    height: 4rem;
    z-index: 1;
}
.play-again img{
    width:100%;
    display:block;
}
/*@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){
.code{
	top:10.25rem;
}
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
.code{
	top:12.25rem;
}
}
@media (device-height:667px) and (-webkit-min-device-pixel-ratio:2){
.code{
	top:12.25rem;
}
}

@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
.code{
	top:13.5rem;
}
}
@media (min-height:660px) and (min-height:740px){
.code{
	top:13.5rem;
}
}
@media (min-height:560px) and (min-height:660px){
.code{
	top:12.5rem;
}
} */
.mi,.wi{
    position:absolute;
    width:100%;
    left:0;
    top:0;
    height:100%;
    z-index:998;
}
.call,.start,.call1{
    position: absolute;
    width: 21%;
    left: 64%;
    top: 78%;
    z-index: 999;
    height:11%;
}
.call img,.start img,.mi img,.wi img,.call1 img{
    width:100%;
    display:block;
}
.start{
    left: 40%;
    top:41%;
}