<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>会员卡详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../weUI/weui.min.css">
    <link rel="stylesheet" href="../css/p_vip_card.css">
</head>
<body class="detail_bd">
    <div class="conts">
        <h3 class="detail_tle">会员卡详情</h3>
        <div>
            <p class="infos_left">特权说明</p>
            <ul class="infos_conts rt">
                <li>激活成功即赠送100积分</li>
                <li>每消费100积分</li>
                <li>单次赠送上限100积分</li>
                <li>每使用100元</li>
            </ul>
        </div>
        <div class="inner_details_box">
            <h3 class="infos_left">有效日期</h3>
            <ul class="infos_conts rt">

                <li>永久有效</li>
                <!--<li>开始日期：{:date('Y-m-d', $member_card->get('base_info')->get('date_info')->get('begin_timestamp'))}</li>-->
                <!--<li>到期日期：{:date('Y-m-d', $member_card->get('base_info')->get('date_info')->get('end_timestamp'))}</li>-->
                <!--<li>自领取后 {:$member_card->get('base_info')->get('date_info')->get('fixed_term')} 天内有效</li>-->
                <!--<li>自领取后 {:$member_card->get('base_info')->get('date_info')->get('fixed_begin_term')} 天开始生效</li>-->
            </ul>
        </div>
        <div class="inner_details_box">
            <h3 class="infos_left">可用时段</h3>
            <ul class="infos_conts rt">
                <!--<php>-->
                    <!--$b = '00:00';$e = '23:50';-->
                    <!--foreach($member_card->get('advanced_info')->get('time_limit_list') as $time_limit)-->
                    <!--{-->
                        <!--$b = $time_limit->get('begin_hour') . ':' . $time_limit->get('begin_minite');-->
                        <!--$e = $time_limit->get('end_hour') . ':' . $time_limit->get('end_minite');-->

                        <!--if ($time_limit->get('type') == 'MONDAY')-->
                            <!--echo '<span class="inner_lable">星期一</span>';-->
                        <!--if ($time_limit->get('type') == 'TUESDAY')-->
                            <!--echo '<span class="inner_lable">星期二</span>';-->
                        <!--if ($time_limit->get('type') == 'WEDNESDAY')-->
                            <!--echo '<span class="inner_lable">星期三</span>';-->
                        <!--if ($time_limit->get('type') == 'THURSDAY')-->
                            <!--echo '<span class="inner_lable">星期四</span>';-->
                        <!--if ($time_limit->get('type') == 'FRIDAY')-->
                            <!--echo '<span class="inner_lable">星期五</span>';-->
                        <!--if ($time_limit->get('type') == 'SATURDAY')-->
                            <!--echo '<span class="inner_lable">星期六</span>';-->
                        <!--if ($time_limit->get('type') == 'SUNDAY')-->
                            <!--echo '<span class="inner_lable">星期日</span>';-->
                    <!--}-->

                    <!--if (count($member_card->get('advanced_info')->get('time_limit_list')) <= 0)-->
                        <!--echo "<li>星期一至星期日 全天</li>";-->
                    <!--else if ($b != '00:00' && $e != '23:50')-->
                        <!--echo "<li>$b 至 $e</li>"-->
                <!--</php>-->

                <li>星期一至星期日 全天</li>

            </ul>
        </div>
        <div class="inner_details_box">
            <h3 class="infos_left">电话</h3>
            <ul class="infos_conts rt">
                <li class="de_phoneno">1234</li>
            </ul>
        </div>
        <div class="inner_details_box">
            <h3 class="infos_left">商户服务</h3>
            <div class="infos_conts rt">
                <span class="inner_lable">免费WIFI</span>
                <!--<php> if ($member_card->get('advanced_info')->get('free_wifi')) { </php>-->
                <!--<span class="inner_lable">免费WIFI</span>-->
                <!--<php> } </php>-->
                <!--<php> if ($member_card->get('advanced_info')->get('with_pet')) { </php>-->
                <!--<span class="inner_lable">可带宠物</span>-->
                <!--<php> } </php>-->
                <!--<php> if ($member_card->get('advanced_info')->get('free_park')) { </php>-->
                <!--<span class="inner_lable">免费停车</span>-->
                <!--<php> } </php>-->
                <!--<php> if ($member_card->get('advanced_info')->get('deliver')) { </php>-->
                <!--<span class="inner_lable">免费停车</span>-->
                <!--<php> } </php>-->
            </div>
        </div>
        <div class="inner_details_box">
            <h3 class="infos_left">使用须知</h3>
            <ul class="infos_conts rt">
                <li>每人限领 1 张</li>
                <!--<li>{:$member_card->get('base_info')->get('description')}</li>-->
            </ul>
        </div>

        <!--<php>-->
            <!--if (count($member_card->get('advanced_info')->get('text_image_list')) > 0 ) {-->
        <!--</php>-->
        <div class="pic_text_box">
            <h3 class="detail_tle">图文介绍</h3>
            <div>
                <img class="d_shop_img" src="../images/detail_shop.png" />
                <p class="de_inner_intros">哈哈</p>
                <!--<php>-->

                    <!--foreach($member_card->get('advanced_info')->get('text_image_list') as $text_image) {-->
                        <!--echo '<img class="d_shop_img" src="/wxres.php?uri='.$text_image->get('image_url').'" alt="">';-->
                        <!--echo '<p class="de_inner_intros">'.$text_image->get('text').'</p>';-->
                    <!--}-->

                <!--</php>-->
            </div>
        </div>
        <!--<php> } </php>-->
    </div>

</body>
</html>