<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>更换手机号</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../weUI/weui.min.css">
    <link rel="stylesheet" href="../css/receiver.css">
</head>
<body>
<div class="head_cont">
    <img class="logo_img" src="../images/LOGO.png" alt="">
    <p class="vip_name"><span>明明 |&nbsp;</span><span>147855224</span></p>
</div>

<div class="weui_cells weui_cells_form">
    <div class="weui_cell" id="phone_box">
        <div class="weui_cell_hd"><label class="weui_label">手机号码</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="number"  id="phone_no" pattern="[0-9]*" placeholder="请输入手机号码">
        </div>

        <div class="weui_cell_ft">
            <i class="weui_icon_warn"></i>
        </div>

    </div>

    <div class="weui_cell" id="code_box">
        <div class="weui_cell_hd"><label class="weui_label">验证码</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="number" id="Code_put" placeholder="验证码">
        </div>
        <div class="weui_cell_ft">
            <!--<button class="weui_btn weui_btn_primary get_code_btn">获取验证码</button>-->
            <input class="weui_btn weui_btn_primary chg_get" type="button" value="获取验证码">
        </div>
    </div>

    <div class="weui_cell">

    </div>
</div>

<div class="weui_btn_area change_btn_box">
    <a class="weui_btn weui_btn_primary" href="javascript:" id="showTooltips">提交</a>
</div>

<script type="text/javascript" src="../js/jquery-2.0.3.min.js"></script>
<script>
    $(function(){

        $("#phone_no").bind("keyup",function(){
            $("#phone_box").removeClass("weui_cell_warn");
        });

        function limitGetCode(count){
            window.setTimeout(function() {
                count--;
                if (count > 0) {
                    $('.chg_get').attr('disabled',true);
                    $('.chg_get').removeClass("weui_btn_primary");
                    $('.chg_get').addClass("weui_btn_default");
                    $('.chg_get').val("获取验证码"+"("+count+")");
                    limitGetCode(count);
//                $(".get_codes").off('click');
                } else {
                    $('.chg_get').attr('disabled',false);
                    $('.chg_get').addClass("weui_btn_primary");
                    $('.chg_get').removeClass("weui_btn_default");
                    $('.chg_get').val("获取验证码");
                }
            }, 1000);
        }

        //    获取验证码
        $(".chg_get").click(function(){
            var phone_no=$("#phone_no").val();
            if(phone_no!=""){
                $("#phone_box").removeClass("weui_cell_warn");
//                $.ajax({
//                    type : "post",
//                    url : "/index.php?s=/Home/User/sendCode/mobile/"+phone_no,
//                    data : {
//                        phone : phone_no
//                    },
//                    dataType : "json",
//                    error : function() {
//
//                    },
//                    beforeSend : function() {
//                        $('.chg_get').removeClass("weui_btn_primary");
//                        $('.chg_get').addClass("weui_btn_default");
//                        limitGetCode(60);
//                    },
//                    success : function(data) {
//                        if (data.code==0) {
//
//                        } else {
//                            // error
//                        }
//                    }
//                });
            }else {
                $("#phone_box").addClass("weui_cell_warn");
//            $("#phone_no").addClass("errputs");
            }

        });


        $(".weui_input").each(function(){
            $(this).bind("keyup",function(){
                $(this).parent().parent().removeClass("weui_cell_warn");
            });
        });

        $("#showTooltips").click(function(){

            $(".weui_input").each(function(){
                if($(this).val() === ""){
                    $(this).parent().parent().addClass("weui_cell_warn");
                }else {
                    $(this).parent().parent().removeClass("weui_cell_warn");
                }
            });

//        验证手机号
            var preg = /^(13[0-9]|15[0|3|6|7|8|9]|18[8|9])\d{8}$/;
            var phone_no=$("#phone_no").val();
            var code=$("#Code_put").val();

//            $.ajax({
//                type : "post",
//                url : "{:$post_url}",
//                data : {
//                    phone : phone_no,
//                    code : code,
//                },
//                dataType : "json",
//                error : function() {
//
//                },
//                success : function(data) {
//                    if (data.errcode==0) {
//                        location.href = "{:$ok_url}";
//                    } else {
//                        if (data.errcode == 10010) {
//                            $("#code_box").addClass("weui_cell_warn");
//                        } else if (data.errcode == 10000) {
////                            $("#vip_name").addClass("errputs");
//                        }
//                    }
//                }
//            });
        });

    });
</script>
</body>
</html>