
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>积分记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../css/record.css">
</head>
<body>

<div class="main">
    <p class="cred_box"><span class="curr_credit">当前积分</span><sapn class="cred_num">100分</sapn></p>
    <div class="give_box">
        <div class="inner_give">
            <p>激活送积分</p>
            <p class="date_cont">2016-07-05 &nbsp;&nbsp;15:59</p>
        </div>
        <p class="add_credit">+100</p>
    </div>
</div>

</body>
</html>