
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../weUI/weui.min.css">
    <link rel="stylesheet" href="../css/record.css">
</head>
<body>
<div class="addr_hd">
    <h3>XX创意园</h3>
    <p>图书馆</p>
</div>
<div class="weui_cells weui_cells_access addr_main_ct" >
    <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <p><span class="addr_info">位置</span>天河大厦134号</p>
        </div>
        <div class="weui_cell_ft">
            <span>街景</span>
            <!--<a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_plain_primary"></a>-->
        </div>
    </a>
    <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <p><span class="addr_info">电话</span>020-66668888</p>
        </div>
    </a>

</div>
</body>
</html>