<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>vue示例-分页</title>
    <script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/60/wdox3nmq/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" class="library" href="../bootstrap-htmb761720161030/bootstrap-htmb/css/bootstrap.css">
    <script id="jquery_172" type="text/javascript" class="library" src="../weWeb/js/jquery-2.0.3.min.js"></script>
    <script id="bootstrap_221" type="text/javascript" class="library" src="../devPlatform/js/bootstrap.min.js"></script>
</head>
<body>
<div style="padding:20px;" id="app">
    <div class="panel panel-primary">
        <div class="panel-heading">用户管理</div>
        <table class="table table-bordered table-striped text-center">
            <thead>
            <tr>
                <th>用户名</th>
                <th>年龄</th>
                <th>毕业学校</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <template v-for="(row, index) in rows ">
                <tr v-if="index>=(curpage-1)*pagesize&&index<curpage*pagesize">
                    <td>{{row.Name}}</td>
                    <td>{{row.Age}}</td>
                    <td>{{row.School}}</td>
                    <td>{{row.Remark}}</td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
    <nav style="float:right;width:100%;">
        <ul class="pagination pagination-lg nav">
            <template v-for="page in Math.ceil(rows.length/pagesize)">
                <li v-on:click="PrePage()" id="prepage" v-if="page==1" class="disabled"><a href="#">上一页</a></li>
                <li v-if="page==1" class="active" v-on:click="NumPage(page, $event)"><a href="#">{{page}}</a></li>
                <li v-else v-on:click="NumPage(page, $event)"><a href="#">{{page}}</a></li>
                <li id="nextpage" v-on:click="NextPage()" v-if="page==Math.ceil(rows.length/pagesize)"><a href="#">下一页</a></li>
            </template>
        </ul>
    </nav>
</div>

<script src="vue_pager.js"></script>

</body>
</html>