body{
    background: #eff0f1;
}
.bd{
    background: #fff;
}
.header-tit{
    margin-top: 0;
    font-size: 16px;
}
.header{
    height: 52px;
}
.hd-info{
    margin-left: 10px;
}
.hd-info a{color: #333;}
.footer{
    background: #fff;
}
.order-cont{
    min-height: 700px;
    background: #fff;
    border-top: 2px solid #b3b3b3;
    /*border-bottom: 2px solid #b3b3b3;*/
    padding: 20px 0;

}
.clear{
    clear: both;
}
.mar-top{
    margin-top: 30px;
}
.d-title{
    width: 72px;
    line-height: 24px;
    color: #fff;
    background: #b3b3b3;
    margin-right: 30px;
    display: none;
}
.half-cont{
    width: 50%;
    padding: 0 28px;
}
.h-border{
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 500px;
    overflow-y: scroll;
    background: #F1F1F1;
}
.h-border table{
    width: 100%;
    background: #f1f1f1;
    font-size: 1.3rem;
}
.hd-tr{
    height: 40px;
    background: #d9d9d9;
    font-size: 1.4rem;
}
th{
    font-weight: normal;
    /*border-right: 1px solid #ccc;*/

}
.sub-tr{
    height: 50px;
}
.sub-tr td{
    border-bottom: 1px solid #ccc;
    /*border-right: 1px solid #ccc;*/

}
tbody tr:last-child{
    border: none;
}
.rfresh{
    width: 34px;
    height: 24px;
    background: url("../images/r_ficon.png") no-repeat;
    background-size: 100%;
    margin-bottom: 4px;
}
.calculate-cont{
    /*-webkit-box-shadow: #ccc 0 0 8px inset;*/
    /*-moz-box-shadow: #ccc 0 0 8px inset;*/
    /*box-shadow: #ccc 0 0 8px inset;*/
   min-height: 560px;
    width: 86%;
    margin: 3rem auto 0;
    /* padding: 6px 0; */
    border-radius: 6px;
}
.bd-rt{
    border-right: 1px solid #ccc;
}
.put-info{
    width: 24%;
    font-size: 1.5rem;
}
.money-ocont{
    width: 86%;
    margin: 0 auto;
    line-height: 5rem;
    height: 5rem;
    border: 1px solid #ccc;
    padding: 0 4px;
}
input.money-put{
    text-align: right;
    /*display: block;*/
    font-weight: bold;
    width: 70%;
    overflow: hidden;
    border: none;
    outline: 0;
    /*width: 50px;*/
    /*padding: 4px;*/
    /*margin: 14px auto 20px;*/
    height: 4.8rem;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}
input[type="text"]:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
.calcu-num-cont{
    width: 73%;
    /*margin-right: 6px;*/
}
.calcu-oper-cont{
    width: 27%;
}
.calcu-num{
    width: 31%;
    margin-right: 2%;
    font-size: 3rem;
    font-weight: bold;
    height: 6.5rem;
    background: #6bbaba;
    color: #fff;
    line-height: 6.5rem;
    margin-bottom: 4%;
    border-radius: 4px;
}
.calcu-num.active{
    background: #57a6a6;
}
a.calcu-num:hover{
    color: #fff;
}
.no-mg-rt{
    margin-right: 0;
}
.no-mg-btom{
    margin-bottom: 0;
}
.num-clear{
    display: block;
    width: 100%;
    background: #bb545b;
    height: 6.5rem;
    overflow: hidden;
    margin-bottom: 11%;
}
.num-clear.active,.num-confirm.active{
    background: #ad4b52;
}
.numclose_icon{
    display: block;
    width: 3rem;
    height: 2.5rem;
    background: url("../images/nclear.png") no-repeat;
    background-size: 100%;
    margin: 2.54rem auto;
}
.num-confirm{
    display: block;
    width: 100%;
    height: 22rem;
    line-height: 22rem;
    font-size: 2.5rem;
    background: #bb545b;
    color: #fff;
}
a.num-confirm:hover{color: #fff;}
.uaccount{
    margin-right: 6px;
}
.header-con{
    height: 50px;
    line-height: 50px;
}
.header-tit{
    line-height: 50px;
    border-left: none;
}
.logo-top{
    margin-top: 14px;
}
.hd-cont{
    margin: 0 auto;
    width: 62%;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: #fff;
    text-align: center;
    /*border-top: 1px solid #ccc;*/
}
.img-top{
    margin-top: 10px;
}
.aui-bar{
    background: #fff;
}
.aui-btn{
    background: #fff;

}
.aui-bar a{
    color: #333;
}
p{color: #333;font-size: 15px;}
.aui-bar{
    padding: 0 14%;
}
.minwidth{
    width: 100%;
    margin: 10px auto;
    /*min-height: 400px;*/
    overflow: auto;
    background: #fff;
}
.aui-dialog{
    width: 25%;
}
.sm-img{
    width: 86%;
    height: 86%;
    margin: 0 62%;
    display: block;
}
.code-container{

}
input.m-put{
    width: 94%;
    color: #FAFAFC;
    font-size: 1.5rem;
    background: #FAFAFC;
    border: none;
    /*visibility: hidden;*/
}
.aui-btn.close-btn{
    background: #ea5404;
    color: #fff;
}
.pay_err,.pay_succ{
    font-size: 1.6rem;
    font-weight: bold;
    color: #BB545B;
}
.pay_succ{
    color: #57a6a6;
}
p.s-info{
    margin: 28px 0 0;
    color: #999;
}
.sd-cont{margin-top: 32px;}
.aui-dialog-footer a{color: #333;}
.aui-dialog-footer a.act{color: #00a0e9;}
p.pay-err{
    font-size: 1.2rem;
    font-weight: bold;
    display: none;
}
.no_datas{display: none;}
.load_icon{
    top: 240px;
    left: 26%;
}
.aui-dialog-body{
    position: relative;
}
.code-cont{
    position: absolute;
    right: 6px;
    z-index: -1;
}

.err-cont,.succ-cont,.paying-cont{
    text-align: center;
    width: 16rem;
    height: 10rem;
    display: none;
    margin: 0 auto;
}
.succ-cont{
    /*background: #36cd36;*/
}
.paying-cont{
    background: transparent;
}

.sao_after,.pay_after_succ{
    width: 6rem;
    display: block;
    font-size: 5rem;
    color: #fff;
    line-height: 6rem;
    text-align: center;
    margin: 10% auto 6% 30%;
    background: #ea5404;
    border-radius: 50%;
}
.pay_after_succ{
    color: #36cd36;
}
.pay_err_info{
    font-family: "微软雅黑";
    font-size: 1.5rem;
    padding-left: 10%;
}
.loader{
    margin: 4rem 0;
}
.ball-beat > div{
    background: #000;
}
.aui-dialog-header{
    padding: 10px 15px 8px 15px;
    border-bottom: 1px solid #ddd;
}


@media screen and (min-width: 1200px) and (max-width: 1700px){
    .put-info{
        width: 29%;
    }
}
/*适应iPad*/
@media screen and (max-width: 768px){
    .minwidth{margin-top: 20px;}
    .half-cont{width: 100%;}
    .bd-rt{border-right: none;}
    .sd-cont{
        width: 100%;
        margin-top: 40px;
        background: #fff;
        padding: 20px;
    }
    input.m-put{
        width: 100%;
    }
    .sm-img{
        width: 130px;
        height: 94px;
    }
    .aui-dialog{
        width: 50%;
    }
    .put-info{
        width: 28%;
    }

}
/*@media screen and (max-width: 860px){*/
    /*.num-confirm{*/
        /*height: 21.6rem;*/
    /*}*/
/*}*/
@media screen and (max-width: 1130px){
    .minwidth{
        margin-bottom: 120px;
    }
    .bd-rt{display: none;width: 100%;}
    .sd-cont{width: 100%;padding-bottom: 24px;}
    .d-title{display: block;}
    .load_icon{left: 50%;}
}