body{
    font-size: 0.9em;
    font-family: "微软雅黑";
    margin: 0;
    padding: 0;
}
.head_cont{
    background: #40c223;
    overflow: hidden;
    padding: 0 2%;
}
.head_cont img{width: 24px;height: 20px;}
.head_cont h2{color: #fff;font-size: 1.3em;}
.conts.one{width: 40%;float: left;margin: 6% 0;}
.conts img{float: left;margin: -2% 0;}
.conts.two{width: 62%;margin-left: 39%;}
.infos_form{
    padding: 0 5% 4%;
    font-size: 1.1em;
}
.infos_put{
    display: block;
    width: 100%;
    padding: 3% 0 3% 4px;
    font-size: 1em;
}
.subm_btn{
    display: block;
    width: 90%;
    margin: 2% auto 4%;
    text-align: center;
    padding: 4% 0;
    text-decoration: none;
    border-radius: 6px;
    background: #04be02;
    color: #fff;
}
select{-webkit-appearance:none;}

@media screen and (max-width: 320px){
    .w_pay{
        display: none;
    }
}