*{
    margin: 0;
    padding: 0;
}
body{
    background: #f1f1f1;
    font-family: "微软雅黑";
}
.cred_box{
    padding-bottom: 9%;
    border-bottom: 1px solid #d9d9d9;
}
.curr_credit{padding: 4%;font-size: 18px;}
.inner_give{float: left;}
.add_credit{float: right;font-size: 18px;}
p.date_cont{
    font-size: 14px;
    color: #999;
    margin-top: 4%;
}
.give_box{
    padding: 6% 4% 19%;
    border-bottom: 1px solid #d9d9d9;
}
.addr_main_ct{
    font-size: 14px;
}
span.addr_info{
    margin-right: 10%;
    color: #999;
}
.addr_hd{
    text-align: center;
    padding: 8% 0 5%;
    letter-spacing: 1px;
}
.cred_num{
    float: right;
    font-size: 22px;
    font-weight: 400;
}
.no_conts{
    padding: 30% 25%;
    text-align: center;
}
.main{
    background: #fff;
    padding: 5% 2% 0;
}

/*折扣信息*/
.mains{
    background: #fff;
}
.dis_conts{
    padding: 4% 6%;
}
.dis_num{
    font-weight: bold;
    font-size: 1.5rem;
    color: red;
}
.head_cont{
    background: #ddd3c2;
    overflow: hidden;
    padding: 10% 3%;
}
.logo_img{width: 90px;height: 90px;border-radius: 50%;overflow: hidden;margin: 0 auto;display: block;}
.vip_name{
    padding: 4% 0 0;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
}